.nav {
  display: flex;
  transition: top 0.3s;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 15px 0;
  user-select: none;
  background-color: #fff;
  height: 60px;
  justify-content: space-between;
}

.logolink {
  background-color: red;
  width: 118px;
  height: 36px;
}
.logoHolder {
  width: 118px;
  height: 36px;
}

.mainMenu {
  font-family: "GT-America-Standard-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.2px;
}
.btn {
  letter-spacing: 0.005em;
  width: 80px;
  margin-left: 6px;
  font-size: 12px;
  height: 34px;
}
.btnLogin {
  border: 1px solid #f65335 !important;
  background-color: #fff !important;
  color: #f65335 !important;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 9px 14px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  height: inherit !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 80px;
}
.btnLogin:hover {
  background-color: #f65335 !important;
  color: #fff !important;
}

.btnSignup {
  border: 1px solid #f65335 !important;
  color: #fff !important;
  background-color: #f65335 !important;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 9px 14px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  height: inherit !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 80px;
}
.btnSignup:hover {
  color: #f65335 !important;
  background-color: #fff !important;
}
.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.brokersAndCarriers a:hover {
  color: #f65335;
  transition: all 0.4s ease 0s;
}
